* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-height: 100vh;
  font-family: sans-serif;

  background-color: black;

  position: relative;
}

.music-control {
  width: 50px;
  top: 48px;
  right: 48px;

  cursor: pointer;

  position: absolute;
}

h1 {
  color: white;
  margin-bottom: 32px;
  font-size: 80px;
}

.game {
  background-image: url('../assets/scene.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 1280px;
  height: 720px;

  position: relative;
}

.character {
  position: absolute;
  width: 75px;
}

#ash {
  right: 2px;
  z-index: 1;
}

#zubat {
  display: none;
  right: 90px;
  top: 550px;
}

#pikaxu {
  display: none;
  right: 600px;
  top: 330px;
}

#charmander {
  display: none;
  width: 65px;
  right: 175px;
  top: 55px;
}

.restart {
  display: none;

  width: 100px;
  height: 100px;

  cursor: pointer;

  position: absolute;

  z-index: 3;
}

.restart:hover {
  opacity: 0.8;
  transform: scale(1.05);
}